*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  list-style-type: none;
  color: white;
  font-family: monospace;
}

body {
  /* background: linear-gradient(50deg, rgb(0, 43, 59), #38779e); */
  background: linear-gradient(60deg, #38779e, white);
}

header {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: monospace;
  font-weight: 100;
  font-size: 2.5em;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  margin: 10px 0 0 0;
  padding-bottom: 20px;
}

form {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  flex-direction: column;
  backdrop-filter: brightness(0.8);
  border-radius: 12px;
  box-shadow: 0 2px 12px black;
}

form .input-form {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

form .input-form input {
  padding: 15px;
  width: 80%;
  height: 40px;
  border-radius: 0 10px 10px 0;
  font-size: 1.3em;
  color: white;
  background-color: rgba(0, 0, 0, 0.212);
}

form .input-form .action {
  width: 15%;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

form .input-form button {
  width: 50px;
  height: 40px;
  border-radius: 10px;
  color: black;
  font-size: 1.5em;
  background-color: rgba(0, 0, 0, 0.212);
  cursor: pointer;
}

form .uList {
  width: 100%;
  text-align: center;
  height: auto;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: monospace;
  flex-direction: column;
  font-size: 20px;
  padding: 20px;
  backdrop-filter: brightness(0.5);
  border-radius: 0 0 10px 10px;
}

form .uList .list {
  width: 100%;
  height: auto;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cancle {
  cursor: pointer;
  background: red;
  color: white;
  border-radius: 10px;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 2px solid gray;
  padding: 10px;
}

.uList :last-child {
  border: none;
}

.completed {
  text-decoration: line-through;
  color: black;
}

select option {
  text-align: center;
}

#filter {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  width: 100%;
  padding: 20px;
  border-radius: 0 0 12px 12px;
  background-color: rgba(0, 0, 0, 0.212);
}

#filter input[type="radio"] {
  appearance: none;
  width: 16px;
  height: 16px;
  border: 2px solid black;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  display: inline-block;
  position: relative;
}
#filter input[type="radio"]:checked::after {
  content: "";
  width: 10px;
  background: #38779e;
  height: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
